body {
  font-family: sans-serif;
}
h1 {
	background-color: #325780;
   margin: 10px 0px 0px 0px;
   padding: 10px;
   border-radius: 5px;
}
.header {
background-color: #325880;
color: white;
margin: 0px 0px -12px 0px;
padding: 1px;
padding-left: 20px;
}
.contenR {
  margin-top: -558px;
  margin-left: 80%;
  margin-right: 2%;
  background-color: #486a96;
  padding: 3px;
  padding-bottom: 287px;
  text-align: left;
  color: white;
}
.contenR p {
  padding-left: 3%;
}
.contentL {
  margin-right: 22%;
  margin-left: 2%;
  margin-top: 2%;
  background-color: #486a96;
  padding: 4px;
  padding-bottom: 0%;
  text-align: center;
  color: white;
}
.edellinenSeuraava {
	background-color: #365480;
	margin: 4px 877px 0px 0px;
   padding: 7px;
}
.edellinenSeuraava1 {
	background-color: #365480;
	margin: 4px 835px 0px 0px;
   padding: 7px;
}
.contenR img {
margin: 40px 0px 0px 64px;
}
iframe {
  border-style: none;
}
.infobox {
  text-align: left;
  color: white;
  padding-top: 5%;
  margin-top: -5%;
  background-color: #486b96;
}
.infobox1 {
  text-align: left;
  color: white;
  padding-top: 5%;
  margin-top: -5%;
  margin-left: 7%;
}
.infobox1 ul{
  list-style-type: none;
  text-align: left;
  margin-left: -10%;
}
.contenR ul{
  list-style-type: none;
  text-align: left;
  margin-left: -10%;
}
a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
a:hover {
  color: lightblue;
}
.footer {
  background-color: #325780;
  text-align: center;
  color: white;
  padding: 1px;
  position: relative;
}
.box {
  background-color: rgb(50,87,128);
  padding: 1px;
  padding-left: 1%;
}
.esimerkki1 {
  float: right;
     background-color: #355580;
     padding: 29px;
     border-radius: 10px;
     margin-left: 580px;
     margin-right: 0px;
     position: absolute;
     margin-top: 19px;
}
